
<table class="table text-light h4 mt-5 w-auto">
  <h3>Profile</h3>
    <tbody>
      <tr>
        <th scope="row"> Username: </th>
        <td> {{ profile.username }} </td>
      </tr>
      <tr>
        <th scope="row"> First Name: </th>
        <td> {{ profile.first_name }} </td>
      </tr>
      <tr>
        <th scope="row"> Last Name: </th>
        <td> {{ profile.last_name }} </td>
      </tr>
      <tr>
        <th scope="row"> Email Address: </th>
        <td> {{ profile.email }} </td>
      </tr>
    </tbody>
</table>
