
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Form</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <content>
      <div class="container-fluid p-5" align="left">
        <h3>Request Form</h3>
        {% if error_message %}<p class="text-danger"><strong>{{ error_message }}</strong></p>{% endif %}
        <form class="row gy-1 gx-15 align-items-center" action="{% url action %}" method="post">
          {% csrf_token %}

          <!-- Select College From List -->
          <div>
            <label for="collegeID" class="form-label">College</label>
            <div class="input-group">
              <select class="form-select" id="collegeID" name="collegeID" aria-label=".form-select-sm example" aria-describedby="basic-addon2">
                <option selected value="{{ collegeID }}">{{ college }}</option>
                {% for c in colleges %}
                  <option value="{{ c.pk }}">{{ c.college_name }}</option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addCollege">Add</button>
              </div>
            </div>
            <div class="form-text">Defaults to UVA.</div>
          </div>


          <!-- Load / Input Course Mnemonic -->
          <div>
            <label for="mnemonic" class="form-label">Mnemonic:</label>
            <input type="text" id="mnemonic" name="mnemonic" maxlength="4" class="form-control" value="" onkeydown="return /[a-zA-Z0-9]/i.test(event.key)">
            <div class="form-text">Accepts SIS mnemonics only.</div>
          </div>

          <!-- Load / Input Course Number -->
          <div>
            <label for="number" class="form-label">Number:</label>
            <input type="text" id="number" name="number" maxlength="4" class="form-control" value="" onkeydown="return /[a-zA-Z0-9]/i.test(event.key)">
            <div class="form-text">Enter a full or partial course number.</div>
          </div>

          <!-- Load / Input Course Name -->
          <div>
            <label for="name" class="form-label">Title:</label>
            <input type="text" id="name" name="name" maxlength="200" class="form-control" value="" onkeydown="return /[A-Za-z0-9-',/&:.()?! ]/i.test(event.key)">
            <div class="form-text">Try full names or key terms.</div>
          </div>

          <!-- Load Course ID (hidden) -->
          <div>
            <input type="hidden" id="id" name="id" maxlength="200" class="form-control" value="{{ course.id }}" >
          </div>

          <!-- Button for Form Submission -->
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
    </content>




<!-- Modal -->
<div class="modal fade" id="addCollege" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label for="college">Name</label>
            <input type="text" class="form-control" id="college" placeholder="University of Virginia">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="domestic">
            <label class="form-check-label" for="domestic">Domestic</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

</body>
</html>



